.visualizer-container {
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
}


.visualizer-header {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  background: #111;
  border-bottom: 1px solid #222;
}

.visualizer-header button {
  margin-left: 5px;
  padding: 2px 6px;
  font-size: 12px;
}

.visualizer-spectrum, .visualizer-waveform {
  width: 100%;
  height: 150px;
}
